@using MSU.HR.Models.ViewModels;

@{
    AlertModel? model = (AlertModel)ViewBag.Alert;
}

@if (model != null)
{
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="alert border-@(model.Type.ToString().ToLower()) alert-dismissible fade show p-0" role="alert">
            <div class="alert-arrow bg-@(model.Type.ToString().ToLower())">
                @if (model.Type == AlertType.Success)
                {
                    <i class="icofont icofont-verification-check"></i>
                }
                else if (model.Type == AlertType.Error)
                {
                    <i class="icofont icofont-error"></i>
                }

                else if (model.Type == AlertType.Warning)
                {
                    <i class="icofont icofont-warning"></i>
                }
                else if (model.Type == AlertType.Info)
                {
                    <i class="icofont icofont-info"></i>
                }
            </div>
            <p>
                <strong class="txt-dark">@(model.StrongMessage)</strong> @(model.Message)
            </p>
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}
