@{
    ViewData["Title"] = "Detail Employee";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@model MSU.HR.Models.ViewModels.EmployeeDetailViewModel

@section Styles{

}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="ml-auto">
                    @* <a href="@Url.Action("List","PaidLeave")"> Back to List</a> *@
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="icon-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active txt-secondary" id="icon-basic-tab" data-bs-toggle="tab" href="#icon-basic" role="tab" aria-controls="icon-basic" aria-selected="true"> <i class="icofont icofont-ui-home"></i>Basic</a></li>
                <li class="nav-item"><a class="nav-link txt-secondary" id="job-icon-tabs" data-bs-toggle="tab" href="#job-icon" role="tab" aria-controls="job-icon" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Job</a></li>
                <li class="nav-item"><a class="nav-link txt-secondary" id="salary-icon-tab" data-bs-toggle="tab" href="#salary-icon" role="tab" aria-controls="salary-icon" aria-selected="false"><i class="icofont icofont-contacts"></i>Salary</a></li>
                <li class="nav-item"><a class="nav-link txt-secondary" id="allowance-icon-tab" data-bs-toggle="tab" href="#allowance-icon" role="tab" aria-controls="allowance-icon" aria-selected="false"><i class="icofont icofont-contacts"></i>Allowance</a></li>
                <li class="nav-item"><a class="nav-link txt-secondary" id="role-icon-tab" data-bs-toggle="tab" href="#role-icon" role="tab" aria-controls="role-icon" aria-selected="false"><i class="icofont icofont-contacts"></i>Role</a></li>
                <li class="nav-item"><a class="nav-link txt-secondary" id="others-icon-tab" data-bs-toggle="tab" href="#others-icon" role="tab" aria-controls="others-icon" aria-selected="false"><i class="icofont icofont-contacts"></i>Others</a></li>
            </ul>
            <div class="tab-content" id="icon-tabContent">
                <div class="tab-pane fade show active" id="icon-basic" role="tabpanel" aria-labelledby="icon-basic-tab">
                    <div class="pt-3">
                        <h1>Basic</h1>
                    </div>

                </div>
                <div class="tab-pane fade" id="job-icon" role="tabpanel" aria-labelledby="job-icon-tabs">
                    <div class="pt-3">
                        <h1>Job</h1>
                    </div>
                </div>
                <div class="tab-pane fade" id="salary-icon" role="tabpanel" aria-labelledby="salary-icon-tabs">
                    <div class="pt-3">
                        <h1>Salary</h1>
                    </div>
                </div>
                <div class="tab-pane fade" id="allowance-icon" role="tabpanel" aria-labelledby="allowance-icon-tabs">
                    <div class="pt-3">
                        <h1>allowance</h1>
                    </div>
                </div>
                <div class="tab-pane fade" id="role-icon" role="tabpanel" aria-labelledby="role-icon-tabs">
                    <div class="pt-3">
                        <h1>role</h1>
                    </div>
                </div>
                <div class="tab-pane fade" id="others-icon" role="tabpanel" aria-labelledby="others-icon-tabs">
                    <div class="pt-3">
                        <h1>others</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{

}