@{
    ViewData["Title"] = "Detail Employee";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@model MSU.HR.Models.ViewModels.EmployeeDetailViewModel

@section Styles{

}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="ml-auto">
                    @* <a href="@Url.Action("List","PaidLeave")"> Back to List</a> *@
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                </div>

            </div>
        </div>
        
    </div>
</div>


@section Scripts{

}